<footer class="footer container-fluid">
    <div class="footer-container container">
        <div class="footer-logo">
            <img src="assets/images/hawk.png" alt="Logo del Restaurante">
            <h2>Mi Restaurante</h2>
        </div>
        <div class="footer-links">
            <a href="#">Inicio</a>
            <a href="#">Menú</a>
            <a href="#">Ubicación</a>
            <a href="#">Contacto</a>
        </div>
        <div class="footer-social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="footer-copy">
            <p>&copy; 2025 Mi Restaurante. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>