<section class="main-dashboard">
    <h1 class="dashboard-title">Administración</h1>

    <div class="dashboard-menu">
        <nav>
            <ul class="menu">
                <li>
                    <a [routerLink]="['dashboard', 'users']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Usuarios</a>
                    <ul class="submenu">
                        <li><a [routerLink]="['dashboard', 'user', 'new']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Nuevo Usuario</a></li>
                        <li><a [routerLink]="['dashboard', 'user', 'edit']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Editar Usuario</a></li>
                    </ul>
                </li>

                <li>
                    <a [routerLink]="['/dashboard', 'products']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Productos</a>
                    <ul class="submenu">
                        <li><a [routerLink]="['/dashboard', 'product', 'new']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Nuevo Producto</a></li>
                        <li><a [routerLink]="['/dashboard', 'product', 'edit']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Editar Producto</a></li>
                    </ul>
                </li>

                <li>
                    <a [routerLink]="['/dashboard', 'categories']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Categorías</a>
                    <ul class="submenu">
                        <li><a [routerLink]="['/dashboard', 'category', 'new']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Nueva Categoría</a></li>
                        <li><a [routerLink]="['/dashboard', 'category', 'edit']" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Editar Categoría</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</section>