<main>
  <section class="">

  </section>
  <section class="cards-container">
    <div class="cards">
      @for ( product of products; track $index ) {
        <div class="card">
          <div class="card-image">
            @if ( ! product?.urlImage ) {
              <img src="assets/images/no-image-available.jpg" class="image" alt="No image available" />
            }
            @else {
              <img [src]="product.urlImage" class="image" alt="{{product.name}}" />
            }
          </div>
          <div class="card-info">
            <h2 class="card-title">{{ product.name }}</h2>
            <small class="card-category">{{ product.category.name }}</small>
            <p class="card-intro">{{ product.description }}</p>
          </div>
          <div class="card-detail">
            <p class="card-price">{{ product.price | currency }}</p>
            <button class="btn btn-primary">Agregar</button>
          </div>
        </div>
      }
    </div>
  </section>
  <div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.1215779283075!2d-74.11403402432376!3d4.748911041236319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f85a9e4d8387b%3A0xa2d08a981d550804!2sHalcon%20Dorado!5e0!3m2!1ses-419!2sco!4v1742436842087!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, ullam dicta? Veritatis dolor, quidem quam voluptatum iusto tenetur eius optio!</p>
    </div>
  </div>

</main>
