<form class="form form-login" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <h1>Login</h1>

    <div class="form-container">
        <div class="form-content">
            
            <!-- Campo de Username -->
            <div class="field">
                <label class="label-form-login" for="username">Username</label>
                <input class="inputs-form" type="text" formControlName="username" id="username" placeholder="Ej: manuela@correo.co" />
                <div class="error">
                    @if(this.formData.get('username')?.invalid && (this.formData.get('username')?.dirty || this.formData.get('username')?.touched)) {
                        @if(this.formData.get('username')?.errors?.['required']) {
                            <span>El correo es obligatorio</span>
                        }
                        @if(this.formData.get('username')?.errors?.['email']) {
                            <span>Formato de correo inválido</span>
                        }
                    }
                </div>
            </div>

            <!-- Campo de Password -->
            <div class="field">
                <label class="label-form-login" for="password">Password</label>
                <input class="inputs-form" type="password" formControlName="password" id="password" placeholder="Ej: 123456789" />
                <div class="error">
                    @if(this.formData.get('password')?.invalid && (this.formData.get('password')?.dirty || this.formData.get('password')?.touched)) {
                        @if(this.formData.get('password')?.errors?.['required']) {
                            <span>La contraseña es obligatoria</span>
                        }
                        @if(this.formData.get('password')?.errors?.['minlength']) {
                            <span>La longitud mínima de la contraseña es 6 caracteres</span>
                        }
                        @if(this.formData.get('password')?.errors?.['maxlength']) {
                            <span>La longitud máxima de la contraseña es 12 caracteres</span>
                        }
                    }
                </div>
            </div>

            <!-- Botón de Login y Enlace de Registro con Estilos Uniformes -->
            <div class="field field-actions">
                <button class="button-form" type="submit" [disabled]="this.formData.invalid">Login</button>
                <a class="button-register" routerLink="/register" routerLinkActive="active">Register</a>
            </div>
        </div>
    </div>
</form>