<header class="header container-fluid">

    <div class="container-header">
        <!-- Menú de Navegación Izquierdo -->
        <nav class="nav-header left-menu">
            <ul class="main-menu">
                <li>
                    <a class="nav-user" routerLink="home" routerLinkActive="active">Menú</a>
                </li>
                <li><a class="nav-user" routerLink="home" routerLinkActive="active">Ubicación</a></li>
                <li><a class="nav-user" routerLink="home" routerLinkActive="active">Contacto</a></li>
            </ul>
        </nav>

        <!-- Logo Centrado -->
        <div class="logo">
            <a routerLink="home">
                <img src="assets/images/hawk.png" alt="Logo" />
            </a>
        </div>

        <!-- Menú de Navegación Derecho -->
        <nav class="nav-header right-menu">
            <ul class="main-menu">

                    <li><a routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
                <li><a class="nav-user" routerLink="login" routerLinkActive="active">Login</a></li>
                <li><a class="nav-user" (click)="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
    @if( user ) {
        <p class="hi-user">Hola, {{user.name}}</p>
        }
</header>





<!-- <nav>
    <ul class="main-menu">
        <li><a routerLink="dashboard/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Users</a></li>
        <li>
            <a [routerLink]="[ 'dashboard', 'users' ]" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Users</a>
            <ul class="sub-menu users-menu">
                <li><a [routerLink]="[ 'dashboard', 'user', 'new' ]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">New User</a></li>
                <li><a [routerLink]="[ 'dashboard', 'user', 'edit' ]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Edit User</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="[ 'dashboard', 'products' ]" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Products</a>
            <ul class="sub-menu categories-menu">
                <li><a [routerLink]="[ 'dashboard', 'product', 'new' ]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">New Product</a></li>
                <li><a [routerLink]="[ 'dashboard', 'product', 'edit' ]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Edit Product</a></li>
            </ul>
        </li>
        <li>
            <a [routerLink]="[ 'dashboard', 'categories' ]" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Categories</a>
            <ul class="sub-menu categories-menu">
                <li><a [routerLink]="[ 'dashboard', 'category', 'new' ]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">New Category</a></li>
                <li><a [routerLink]="[ 'dashboard', 'category', 'edit' ]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Edit Category</a></li>
            </ul>
        </li>
    </ul>
</nav> -->

