@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Colors */
:root {
  --dark-blue: #32325d;
  --gray: #f8f8f8;
}

/*  Mobile first */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var( --gray );
  
}

body {
  background-image: url('../public/assets/images/background.jpg'); ;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  @media(min-width: 40rem) {
    
  }
}

header.header {
  border-radius: 5px;
}

header .container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.99);
  max-width: 100%;
  border-radius: 1rem;
  background-color: transparent;
}
h1.name-empresa {
  font-size: 2rem;
  font-weight: bold;
  padding-right: 1rem;
}
.main-menu li a {
  font-size:larger;
  font-weight: bold;
  text-decoration: none;
  color: rgb(245, 116, 37);
  padding: 10px 15px;
  display: block;
  border-radius: 1rem;
}
.main-menu a:hover {
  background-color: rgba(255, 255, 255, 0.99);
}
.main-menu > li {
  float: left;
}
.main-menu li ul{
  display:none;
  position: absolute;
  min-width: 14rem;
}
.main-menu li:hover > ul {
  display: block;
}
.main-menu li ul li {
  position: relative;
}
.main-menu li ul li ul {
  right: 12rem;
  top: 0px;
}
.logo {
  display: flex;
  align-items: center;
} 
.logo img {
  height: 4rem;
  border-radius: 1.5rem;
  padding: 0 1rem;
}
.nav-header {
  padding: 1rem;

}
.nav-user {
  display: flex;
}
ul, ol {
  list-style: none;
}

/* Flex container */
.cards-container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0px 15px;
  margin: 0;
}

/* Cards */
.cards {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  gap: 2rem;
  flex-direction: column;

  .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      -webkit-transform: scale(1.05);

      .card-image {
        opacity: 1;
      }

    }
  }

  .card-category {
    border: 1px solid;
    display: inline;
    align-self: start;
    padding: .18rem .4rem;
    border-radius: .3rem;
}

  /* Content */
  .card-info,
  .card-detail {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0 1rem;
    line-height: 1.5em;
  }

  .card-detail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

  .card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #32325d;
    margin-bottom: 0.4em;
  }

  /** Buttons */
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    max-width: 100%;
    flex: 0 0 40%;
    border-radius: .4rem;
    border: 1px solid transparent;
  }

  .price {
    max-width: 100%;
    flex: 0 0 60%;
  }



  /* Images */
  .card-image{
    height: 16rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;

    .image {
      width: 100%;
      height: 16rem;
      object-fit: cover;
    }
  }

  .card-price {
    font-size: 1.4rem;
    font-weight: bolder;
    color: dimgrey;
    text-align: end;
    flex: 1;
  }
}


/** CSS: Forms */
.form h1 {
    text-align: center;
}

.form-content {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-content: center;
    align-items: start;
    border: 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;
}

.form-errors {
    border: 1px dotted;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    display: none;

    .title {
        font-size: 1.2rem;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    width: 100%;
}
.label-form-login {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    padding: 2rem;
    font-weight: bold;
    color: brown;
}
.inputs-form{
    width: 100%;
    padding: 1rem 0rem 1rem 1rem;
    border-radius: 6px;
    border: 0.16rem solid #ccc;
    font-size: 1.4rem;
    text-emphasis-color: #e2c026;
}
.button-form{
    width: 60%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 0.16rem solid #ccc;
    font-size: 1.4rem;
    background-color: brown;
    color: white;
    font-weight: bold;
    cursor: pointer;

}
.field {
    display: flex;
    align-items: center;
}
.error {
    font-size: .75rem;
    height: 1rem;
    color: red;
    font-style: italic;
}

/** CSS: Table */
.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f4f4f4;
}

.data-table tr:hover {
  background-color: #f9f9f9;
}

.image-avatar {
  max-width: 6rem;
  max-height: 6rem;
  width: 100%;
  height: 6rem;
  border-radius: 6rem;
}

user agent stylesheet
img

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}


/** Media Queries */
/* Estilos base (Mobile First) */
.container {
  max-width: 100%;
  padding: 0 16px;
}

footer {
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 10rem;
  flex-direction: row;
  border-radius: 1rem;
  border: 1px solid #8D6E63;
}
/* 567px ≈ 35.44rem */
@media (min-width: 35.5rem) {
  .container {
      max-width: 33.75rem; /* 540px */
      padding: 0 16px;
  }
  .cards {
    flex-direction: row;
  }
  .cards .card {
    width: 50%;
  }
  .btn {
    max-width: 100%;
    flex: 0 0 40%;
    margin: unset;
  }
}

/* 768px ≈ 48rem */
@media (min-width: 48rem) {
  .container {
      max-width: 45rem; /* 720px */
      padding: 0 24px;
  }
  .cards .card {
    width: 33.3%;
  }
}

/* 1024px ≈ 64rem */
@media (min-width: 64rem) {
  .container {
      max-width: 62rem; /* 992px */
      padding: 0 32px;
  }
  .cards .card {
    width: 25%;
  }
}

/* 1200px ≈ 75rem */
@media (min-width: 75rem) {
  .container {
      max-width: 71.25rem; /* 1140px */
      padding: 0 40px;
  }
}

/* 1400px ≈ 87.5rem */
@media (min-width: 87.5rem) {
  .container {
      max-width: 82.5rem; /* 1320px */
      padding: 0 48px;
  }
}

/* 1600px ≈ 100rem */
@media (min-width: 100rem) {
  .container {
      max-width: 90rem; /* 1440px */
      padding: 0 56px;
  }
}

/* 1920px ≈ 120rem */
@media (min-width: 120rem) {
  .container {
      max-width: 100rem; /* 1600px */
      padding: 0 64px;
  }
}

/* 2160px ≈ 135rem */
@media (min-width: 135rem) {
  .container {
      max-width: 110rem; /* 1760px */
      padding: 0 72px;
  }
}

/* 2560px ≈ 160rem */
@media (min-width: 160rem) {
  .container {
      max-width: 120rem; /* 1920px */
      padding: 0 80px;
  }
}
